<!DOCTYPE html>
<html>
<head>
    <title>Upload de Imagem</title>
</head>
<body>
    <h1>Upload de Imagem</h1>
    <form action="http://localhost:3000/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*">
        <button type="submit">Enviar</button>
    </form>
    
    <h2>Imagens Salvas:</h2>
    <ul id="image-list"></ul>
    
    <script>
        fetch('http://localhost:3000/images')
            .then(response => response.json())
            .then(images => {
                const imageList = document.getElementById('image-list');
                images.forEach(image => {
                    const li = document.createElement('li');
                    const img = document.createElement('img');
                    img.src = `http://localhost:3000/image/${image}`;
                    img.style.maxWidth = '200px';
                    li.appendChild(img);
                    imageList.appendChild(li);
                });
            });
    </script>
</body>
</html>
